html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; }

.background {
  width: 40%;
  height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/abstract.jpg");
  background-size: cover;
  padding: 0 30%; }

.outer-scratch, .inner-scratch {
  height: inherit; }

.background > ul {
  width: 680px;
  height: 1000px;
  float: left;
  margin-top: 300px;
  /*margin-left: 450px;*/ }
  .background > ul li {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    float: left; }
  .background > ul :hover .box_4 {
    opacity: 0; }
  .background > ul .box1 {
    margin-left: 0;
    background-image: url(../img/box_1.png); }
    .background > ul .box1 .box_1 {
      width: 50%;
      height: 50%;
      text-align: center;
      font-size: 200%;
      color: #fff;
      margin: 40% auto;
      text-shadow: 0 1px 1px #ccc; }
    .background > ul .box1:hover {
      cursor: pointer;
      background-image: url(../img/box_7.png);
      transition: all 0.5s ease-in-out; }
  .background > ul .box2 {
    margin-left: 40px;
    background-image: url(../img/box_2.png); }
    .background > ul .box2 .box_2 {
      width: 80%;
      height: 80%;
      text-align: center;
      font-size: 200%;
      color: #fff;
      margin: 40% auto;
      text-shadow: 0 1px 1px #ccc; }
    .background > ul .box2:hover {
      cursor: pointer;
      background-image: url(../img/box_2-1.png);
      transition: all 0.9s ease-in-out; }
  .background > ul .box3 {
    margin-left: 40px;
    background-image: url(../img/box_3.png); }
    .background > ul .box3 .box_3 {
      width: 80%;
      height: 80%;
      text-align: center;
      font-size: 200%;
      color: #fff;
      margin: 40% auto;
      text-shadow: 0 1px 1px #ccc; }
    .background > ul .box3:hover {
      cursor: pointer;
      background-image: url(../img/box_4-1.png);
      transition: all 0.9s ease-in-out; }
  .background > ul .box4 {
    margin-top: 20px;
    background-image: url(../img/box_4.png); }
    .background > ul .box4 .box_4 {
      width: 80%;
      height: 80%;
      text-align: center;
      font-size: 200%;
      color: #fff;
      margin: 40% auto;
      text-shadow: 0 1px 1px #ccc; }
    .background > ul .box4:hover {
      cursor: pointer;
      background-image: url(../img/box_1-1.jpeg);
      transition: all 0.5s ease-in-out; }
  .background > ul .box5 {
    margin-top: 20px;
    margin-left: 40px;
    background-image: url(../img/box_5.png); }
    .background > ul .box5 .box_5 {
      width: 50%;
      height: 50%;
      text-align: center;
      font-size: 200%;
      color: #fff;
      margin: 40% auto;
      text-shadow: 0 1px 1px #ccc; }
    .background > ul .box5:hover {
      cursor: pointer;
      background-image: url(../img/box_2-1.png);
      transition: all 0.5s ease-in-out; }
  .background > ul .box6 {
    margin-top: 20px;
    margin-left: 40px;
    background-image: url(../img/box_6.png); }
    .background > ul .box6 .box_6 {
      width: 80%;
      height: 80%;
      text-align: center;
      font-size: 200%;
      color: #fff;
      margin: 40% auto;
      text-shadow: 0 1px 1px #ccc; }

/*  Basic Title  */
h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 3em;
  text-align: center;
  color: #fff;
  -webkit-animation: 3s fade;
  animation: 3s fade; }
  h1 span {
    color: #fff;
    display: inline-block;
    position: relative;
    padding: .5em 3em; }
    h1 span:before {
      display: block;
      content: '';
      width: 110%;
      margin-left: -5%;
      margin-bottom: 13%;
      border-top: 1px solid #fff;
      -webkit-animation: 2.5s draw;
      animation: 2.5s draw; }
    h1 span:after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      border-bottom: 1px solid #fff;
      -webkit-animation: 2.5s draw-bottom;
      animation: 2.5s draw-bottom; }

/* Film Animations */
@keyframes grain {
  0%, 100% {
    transform: translate(0, 0, 0); }
  10% {
    transform: translate(-1%, -1%); }
  20% {
    transform: translate(1%, 1%); }
  30% {
    transform: translate(-2%, -2%); }
  40% {
    transform: translate(3%, 3%); }
  50% {
    transform: translate(-3%, -3%); }
  60% {
    transform: translate(4%, 4%); }
  70% {
    transform: translate(-4%, -4%); }
  80% {
    transform: translate(2%, 2%); }
  90% {
    transform: translate(-3%, -3%); } }
@keyframes scratch {
  0%, 100% {
    transform: translateX(0);
    opacity: 0.075; }
  10% {
    transform: translateX(-1%); }
  20% {
    transform: translateX(1%); }
  30% {
    transform: translateX(-2%);
    opacity: 0.09; }
  40% {
    transform: translateX(3%); }
  50% {
    transform: translateX(-3%);
    opacity: 0.05; }
  60% {
    transform: translateX(8%); }
  70% {
    transform: translateX(-3%); }
  80% {
    transform: translateX(10%);
    opacity: 0.02; }
  90% {
    transform: translateX(-2%); } }
@keyframes inner-scratch {
  0% {
    transform: translateX(0);
    opacity: 0.08; }
  10% {
    transform: translateX(-1%); }
  20% {
    transform: translateX(1%); }
  30% {
    transform: translateX(-2%); }
  40% {
    transform: translateX(3%); }
  50% {
    transform: translateX(-3%);
    opacity: 0.06; }
  60% {
    transform: translateX(8%); }
  70% {
    transform: translateX(-3%); }
  80% {
    transform: translateX(10%);
    opacity: 0.03; }
  90% {
    transform: translateX(20%); }
  100% {
    transform: translateX(30%); } }
/* Simple Title Animation */
@keyframes draw {
  0% {
    width: 0%; }
  100% {
    width: 110%; } }
@keyframes draw-bottom {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=index.css.map */
