html {
  height: 100%;
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Nunito; }

h1 {
  font-size: 250%; }

p {
  font-size: 140%;
  line-height: 150%;
  color: #333; }

#header.scroll {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }

#header {
  width: 100%;
  height: 5.5rem;
  background-color: #17c2a4;
  position: relative;
  bottom: 0;
  left: 0; }
  #header > #gnb {
    width: 100%;
    height: 100%;
    margin: 0 10px 0 15px; }
    #header > #gnb > ul {
      width: 100%;
      height: 100%; }
      #header > #gnb > ul > .menu_1 {
        width: calc(100% / 5);
        height: 100%;
        float: left;
        margin: 25px auto;
        background-image: url(../img/menu/menu_1.png);
        background-repeat: no-repeat;
        background-position: 50px 0; }
      #header > #gnb > ul > .menu_2 {
        width: calc(100% / 5);
        height: 100%;
        float: left;
        margin: 25px auto;
        background-image: url(../img/menu/menu_2.png);
        background-repeat: no-repeat;
        background-position: 50px 0; }
      #header > #gnb > ul > .logo {
        width: calc(100% / 5);
        height: 100%;
        float: left;
        background-image: url(../img/goeun.png);
        background-repeat: no-repeat;
        background-position: center; }
      #header > #gnb > ul > .menu_3 {
        width: calc(100% / 5);
        height: 100%;
        float: left;
        margin: 25px auto;
        background-image: url(../img/menu/menu_3.png);
        background-repeat: no-repeat;
        background-position: 50px 0; }
      #header > #gnb > ul > .menu_4 {
        width: calc(100% / 5);
        height: 100%;
        float: left;
        margin: 25px auto;
        background-image: url(../img/menu/menu_4.png);
        background-repeat: no-repeat;
        background-position: 50px 0; }
      #header > #gnb > ul > li > a {
        width: 100%;
        height: 100%;
        display: block;
        color: #fff;
        transition: all 0.5s ease-in-out; }
        #header > #gnb > ul > li > a:hover {
          font-size: 1.3em; }

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
  transform-style: inherit; }

img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(0.25px) scale(0.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240, 230, 220, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7); }

img:last-of-type {
  transform: translateZ(0.4px) scale(0.6) translateX(-104%) translateY(-40%) rotate(-5deg); }

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240, 230, 220, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7); }

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto; }

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0; }

.slide, .slide:before {
  background: 50% 50% / cover; }

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000; }

#title {
  background-image: url("../img/sunset.jpg");
  background-attachment: fixed; }

#slide1:before {
  background-color: #17c2a4;
  transform: translateZ(-1px) scale(2);
  z-index: -1; }

#slide2 {
  background-image: url("../img/store_bg.png");
  background-attachment: fixed; }

#slide3:before {
  background-image: url("../img/Untitled-1.png");
  transform: translateZ(-1px) scale(2);
  z-index: -1; }

#slide4:before {
  background-image: url("../img/history/history_bg.png");
  transform: translateZ(-1px) scale(2);
  z-index: -1; }

#slide5 {
  background-image: url("../img/footer.png"); }

/* topAdd */
#topAdd {
  width: 60vw;
  height: 3rem;
  background-color: #999;
  padding: 1rem 20vw;
  position: relative; }

.addbox > p {
  width: 80%;
  height: 1.5rem;
  float: left;
  color: #fff;
  font-size: 1rem;
  margin-top: 15px;
  top: 1.2vw; }

#topAdd > button {
  width: 60px;
  height: 60px;
  float: right;
  position: absolute;
  top: 0.5vw;
  right: 26vw;
  background-image: url(../img/cancel.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: transparent; }

/*# sourceMappingURL=yyyy.css.map */
